* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* height: 80vh; */
  height: 5rem;
  border: 4px solid black;
  /* overflow-y: scroll; */
  display: flex;
  /* flex-direction: column; */
  /* gap: 2rem; */
  /* justify-content: start;
  align-items: end; */
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  /* flex-wrap: wrap; */
}
.item-2 {
  display: flex;
  gap: 2rem;
}
.item-3 {
  display: flex;
  gap: 2rem;
}
.item-2 li {
  list-style: none;
}
.item {
  /* height: 10rem;
  width: 10rem;
  background-color: aqua;
  border: 2px solid black; */
}
.item-3 button {
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
  &:hover {
    background-color: blue;
    color: white;
  }
}
/* form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */
/* .item-3 button:hover {
  background-color: blue;
  color: white;
} */
