* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 1rem;
  column-gap: 2rem; */
  gap: 2rem;
  /* justify-content: center;
  align-items: center; */
  /* place-items: center; */

  /* grid-template-rows: 1fr 2fr; */
}

.item {
  border: 2px solid black;
}

.item-1 {
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: 1/5;
}
.item-2 {
  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: 2/4;
}
.item-3 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  grid-column: 2/4;
  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: 2/4;
}
