*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(128, 159, 187);

}
.logo{
    font-size: 20px;
}
.content{
    border: 2px solid black;
    width:30%;
    padding: 6px;
    border-radius: 10px;
}
.content ul{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     gap: 1rem;
}
li{
    list-style: none;
}
.btn{
    display: flex;
    gap: 20px;


}
button{
     padding: 6px 12px;
     font-size: 15px;
     cursor: pointer;
     border-radius: 5px;
     background-color: rgb(192, 138, 72);
}
button:hover {
  background-color: rgb(136, 136, 185);
  color: white;
}
.container{
    height:50vh;
    width:60vh;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    left: 30%;
    text-align: center;
    background-color: rgb(103, 86, 86);

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;       
    gap: 35px;
}
.container .icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.container h3{
    font-size: 45px;
}
.container .btn button{
    padding: 16px 32px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}