*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:10px;
    background-color: rgb(163, 90, 115);
    
}
.item{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(108, 169, 149);


}
.navbar{
    grid-column: 1/3;
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
     
}
.image{
    grid-row: 2/4;
    height: 40rem;
    
}
img{
    height: 100%;
    width: 100%;
}
.content{
    padding: 2px;
        grid-row: 2/4;
        height: 40rem ;
        text-align:justify;

}
.heading{
    grid-column: 1/3;
        height: 5rem ;
    
}
.footer{
    grid-column: 1/3;
    height: 5rem ;


}